<!DOCTYPE html>
<html>
<head>
  <title>Qrp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>

<%= yield %>

</body>
</html>
